@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Pacifico&display=swap');



/* Main function */
.a{
    color: blue;
    background-color: rgb(100, 0, 0, 10%);
    text-align: center;
    font-family: "Pacifico", cursive;
    font-size: 40px;
}
.b{
    color: hsl(250, 100%, 50%);
    font-size: 25px;
    font-family: "Pacifico", cursive;
    font-weight: 400;
}
/* Main Function */

/* Story */
.c{
    color: red;
    width: 635.1px;
    height: 600px;
    background-color: white;
    text-align: center;
    line-height: 600px;
}
.d{
    width: 635.1px;
    height: 600px;
}
/* Story */